Django==4.2.13
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
python-dotenv==1.0.1

psycopg2-binary==2.9.9
pgvector==0.3.2

google-generativeai>=0.8.5
tavily-python==0.3.9

beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.2.2

sentence-transformers==3.1.1
torch==2.4.0

channels==4.1.0
channels-redis==4.2.0
asgiref==3.8.1
redis==5.0.8
numpy==1.26.4
